@media (max-width: 768px) {
  .home {
    flex-direction: column;
    height: auto;

    .hero {
      min-height: 50vh;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;

      .heroImg {
        position: relative !important;
        max-width: 240px;
        max-height: 240px;
        border-radius: 100%;
        margin: 24px;
        object-fit: cover;
      }
    }

    .content {
      padding: 0 32px;
    }

    .greeting {
      font-size: 24px;
      padding: 6px 0;
    }

    .name {
      font-size: 32px;
    }

    .description {
      font-size: 16px;
      padding: 6px 0;
    }
  }
}