@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");
@import "variables";

.home {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .hero,
  .right {
    flex: 1;
    height: 100%;
  }

  .hero {
    position: relative;
  }

  .right {
    .socialIcons {
      padding: 12px;

      a {
        margin: 12px;

        svg {
          font-size: 32px;

          @include color-scheme(dark) {
            color: $lightColor !important;
          }
        }
      }

      .linkedin {
        color: #0A66C2;
      }

      .github {
        color: #1B1F23;
      }

      .codepen {
        color: #000000;
      }

      .twitter {
        color: #1da1f2;
      }
    }
  }

  .heroImg {
    height: 100%;
    object-position: top;
    object-fit: cover;
  }

  .greeting {
    font-size: 32px;
    padding: 12px 0;
  }

  .name {
    font-size: 64px;
    color: $primaryColor;
    font-weight: 600;
    line-height: unset;
  }

  .description {
    font-size: 24px;
    padding: 12px 0;
  }
}

.content {
  padding: 72px 32px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.letsTalkBtn {
  padding: 10px 30px;
  color: $lightColor;
  background-color: $primaryColor;
  box-shadow: $boxShadowLight;
  border-radius: 32px;
  transition: all 0.5s ease;
  outline: none;
  border: none;
  font-family: $fontFamily;
  cursor: pointer;
  margin: 12px auto;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;

  @include color-scheme(dark) {
    box-shadow: $boxShadowDark;
  }

  &:hover {
    transform: scale(1.1);
  }
}

@import 'responsive';