@media (max-width: 768px) {
  .home {
    flex-direction: column;
    height: auto;

    .left {
      min-height: 300px;
      display: flex;
      align-items: center;
      .hero-img {
        width: 240px;
        height: 240px;
        border-radius: 100%;
        margin: 24px;
      }
    }

    .content {
      padding: 0 32px;
    }

    .greeting {
      font-size: 24px;
      padding: 6px 0;
    }
    .name {
      font-size: 32px;
    }
    .description {
      font-size: 16px;
      padding: 6px 0;
    }
  }
}