@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

$fontFamily: "Montserrat", sans-serif;
$backgroundColorDark: #0b0d15;
$backgroundColorLight: #fbfbfb;
$primaryColor: #754ef9;
$primaryFontColor: #333333;
$white: #ffffff;
$black: #000000;
$boxShadow: 0 10px 30px rgb(134 134 134 / 65%);

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: 400;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $fontFamily;
  background-color: $backgroundColorLight;
  min-height: 100vh;
  color: $primaryFontColor;
}

p {
  font-weight: 500;
  line-height: 1.6;
}

.home {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .left, .right {
    flex: 1;
    height: 100%;
  }

  .left {
    img {
      object-position: top!important;
    }
  }

  .right {
    .social-icons {
      padding: 12px;
      a {
        margin: 12px;
        svg {
          font-size: 32px;
        }
      }
      .linkedin {
        color: #0A66C2;
      }
      .github {
        color: #1B1F23;
      }
      .codepen {
        color: #000000;
      }
      .twitter {
        color: #1da1f2;
      }
    }
  }

  .hero-img {
    height: 100%;
  }

  .greeting {
    font-size: 32px;
    padding: 12px 0;
  }
  .name {
    font-size: 64px;
    color: $primaryColor;
    font-weight: 600;
    line-height: unset;
  }
  .description {
    font-size: 24px;
    padding: 12px 0;
  }
}

.content {
  padding: 72px 32px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.lets-talk-btn {
  padding: 10px 30px;
  color: $white;
  background-color: $primaryColor;
  box-shadow: $boxShadow;
  border-radius: 4px;
  transition: all 0.5s ease;
  outline: none;
  border: none;
  font-family: $fontFamily;
  cursor: pointer;
  margin: 12px auto;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;

  &:hover {
    box-shadow: $boxShadow, 0 10px 20px #ccc;
  }
}

@import 'responsive';